body{
	background-color: white;
	font-family:"PT Sans Narrow";
	font-size:20px;
	margin-right: 40px;
	margin-left:40px;
	margin-bottom:40px;
  	margin-top: 120px;
  	padding-top: 32%;
  	padding-bottom: 5%;
  	border-top: 10px solid #1abca6;
	border-bottom: 10px solid #1abca6;
  	z-index: 1;
  	position:relative;
}

/**the green inner border**/
body:after { 
  	content: "";
  	display: block;
  	position: absolute;
  	top: 4%;
  	left: 0px;
  	border: solid 2px #1abca6;
  	width: 1196px;
  	min-height: 91%;
  	padding-bottom: -10px;  
  	z-index: -10;
}

body:before {
  	content: "";
  	display: block;
  	position: absolute;
  	top: 21px;
  	left: 0px;
  	border: solid 2px white;
  	width: 1196px;
  	min-height: 91%;
  	padding-bottom: -2px;  
  	z-index: 10;
}

h1{
	font-size:100px;
	position: absolute;
	top: -27px;
	left: 30%;
	font-family:"Trebuchet MS";
	font-weight:bold;
/*	font-weight:normal;*/
	letter-spacing:12px;
	color:#f2570e;

}

h2{
	font-size:40px;
	position: absolute;
	top: 62%;
	left: 26%;
	font-family:"Trebuchet MS";
	font-weight:bold;
	letter-spacing:6px;
	color:#f2570e;
}

h3{
	font-size:23px;
	position: absolute;
	top: 80%;
	left: 33%;
	font-family:"Open Sans";
	font-style: italic;
	font-weight:normal;
	letter-spacing:7px;
	color:#f2570e;

}

img{
	margin-top:10px;
	position: absolute;
	top: 26%;
	left: 40%;
}


a:link{
	text-decoration:none;
	font-weight: bold;
	color:#f2570e;
	text-align:center;
	letter-spacing:5px;
}

a:visited{
	color:#CC6600;

}

.popup{
	position: absolute;
	top:110%;
	left: 39%;
}

.changecolor{
	color:#1abca6;
}

.overlap{
	color:#1abca6;
	position: absolute;
	top:62%;
	left:318px;
}

.tobold{
	font-weight: bolder;
}


/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #1abca6;
    padding: 10px;
    border: 2px solid #CC6600;
    float: left;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

img.btn_close {
    Position the close button
	float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #CC6600;
    font-size: 20px;
    line-height: 22px;
}

form.signin .textbox input {
    background: #1abca6;
    margin-top: 6px;
    border-bottom: 1px solid #1abca6;
    border-left: 1px solid #1abca6;
    border-right: 1px solid #1abca6;
    border-top: 1px solid #1abca6;
    color: #fff;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 3px;
    font-size: 15px;
    font-family:"Open Sans";
    padding: 6px 6px 4px;
    width: 200px;
}


.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #CC6600;
  position: absolute;
  top:44%;
  left:12%;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #CC6600;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #CC6600;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #CC6600;
  }
}


.button {
    background-color: black;
    color:#1abca6;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    border: 1px solid black;
    font: 12px;
    font-weight: bold;
    width: 80px;
    position: relative;
    top:85%;
    left:30%;
}

.button:hover {
    background: black;
}
