body {
    background-color: #1abca6;
}

h1{
	font-size:100px;
	position: absolute;
	top: -40px;
	left: 12%;
	font-family:"Open Sans";
	font-weight: bold;
	letter-spacing:12px;
	color:#f2570e;
}

img {
  padding: 50px;
  border-radius: 30%;
}

.thumbnail:hover {
  transform: scale(1.2);
}
