body {
    background-color: #1abca6;
    position:relative;
    margin-bottom: 10px;
}


h1{
	font-size:7vw;
	position: absolute;
	top: 3.2vh;
	left: 12vw;
	font-family:"Trebuchet MS";
	font-weight: bold;
	letter-spacing:0.2em;
	color:#f2570e;
}

img {
  border-radius: 30%;
  height: 23vh;
  width:23vw;
  position:absolute;
}

#country{
	left: 7vw;
	top:31vh;
}

#hip-hop{
	left: 38vw;
	top:31vh;
}

#classical{
	left: 69vw;
	top:31vh;
}

#pop{
	left: 7vw;
	top:68vh;
}

#rock{
	left: 38vw;
	top:68vh;
}

#shuffle{
	left: 69vw;
	top: 68vh;
}

.thumbnail:hover {
  transform: scale(1.2);
}