
body{
  font-size: 12px;
  background-color: white;
  margin-left:5px;
  margin-right: 5px;
  margin-bottom: 2vh;
  margin-top: 21vh;
  padding-top: 25%;
  padding-bottom: 12%;
  position: relative;
  border-top: 10px solid #1abca6;
  border-bottom: 10px solid #1abca6;
  z-index: 1;
}

/**the green inner border**/
body:after {
    content: "";
    display: block;
    position: absolute;
    top: 2.6%;
    border: solid 2px #1abca6;
    width: 99.5%;
    min-height: 94%;
    padding-bottom: -10px;  
    z-index: -10;
}

body:before {
    content: "";
    display: block;
    position: absolute;
    top: 3.1%;
    border: solid 2px white;
    width: 99.5%;
    min-height: 94%;
    padding-bottom: -2px;  
    z-index: 10;
}

h1{
  font-size:8vw;
  position: absolute;
  top:-5%;
  left:29%;
  width: 90vw;
  font-family:"Trebuchet MS";
  font-weight:bold;
  letter-spacing:1.3vw;
  color:#f2570e;
}



h2{
  font-size:2.8vw;
  position: absolute;
  padding-top: 2%;
  top: 64%;
  left: 31%;
  width: 80vw;
  max-width: 100%;
  font-family:"Trebuchet MS";
  font-weight:bold;
  letter-spacing:0.2vw;
  color:#f2570e;
}

.overlap{
  color:#1abca6;
    left:31.5%;
}

h3{
  font-size:2vw;
  position: absolute;
  top: 81%;
  left: 34%;
  width: 60vw;
  max-width: 100%;
  font-family:"Open Sans";
  font-weight: normal;
  font-style: italic;
  letter-spacing:0.3vw;
  color:#f2570e;
}

h4{
  font-size:1.7vw;
  font-family:"PT Sans Narrow";
  position: absolute;
  left:37%;
  margin-top:16vw;
  letter-spacing:0.3em;
}



img{
  margin-top:10px;
  position: absolute;
  top: 30%;
  left: 41%;
  height: 15vw;
  width: 15vw;
  max-width: 100%;
}


.popup{
  potision:absolute;
  top:110%;
  left: 37%;
  -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

.changecolor{
  color:#1abca6;
  -webkit-animation: 1s blinkBl step-end infinite;
    -moz-animation: 1s blinkBl step-end infinite;
    animation: 1s blinkBl step-end infinite;
}

@keyframes blinkBl {
  from, to {
    color: transparent;
  }
  50% {
    color: #1abca6;
  }
}

@-moz-keyframes blinkBl {
  from, to {
    color: transparent;
  }
  50% {
    color: #1abca6;
  }
}

@-webkit-keyframes blinkBl {
  from, to {
    color: transparent;
  }
  50% {
    color: #1abca6;
  }
}


/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #1abca6;
    padding: 10px;
    border: 2px solid #CC6600;
    float: left;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    /* Safari, Chrome */
  border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

img.btn_close {
  max-width: 15%;
  height:20%;
  width:20%;
  position: relative;
  top:-18px;
  left:-10px;

}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 4px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #CC6600;
    font-size: 20px;
    line-height: 22px;
    margin-top: -25px;
}

form.signin .textbox input {
    background: #1abca6;
    margin-top: 6px;
    border-bottom: 1px solid #1abca6;
    border-left: 1px solid #1abca6;
    border-right: 1px solid #1abca6;
    border-top: 1px solid #1abca6;
    color: #fff;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 3px;
    font-size: 15px;
    font-family:"Open Sans";
    padding: 6px 6px 4px;
    width: 200px;
}


.blinking-cursor {
  font-weight: 100;
  font-size: 40px;
  color: #CC6600;
  position: absolute;
  left:11%;
  margin-top: 13px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #CC6600;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #CC6600;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #CC6600;
  }
}


.button {
    background-color: black;
    color:#1abca6;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    border: none;
    font: 12px;
    font-weight: bold;
    width: 80px;
    position: relative;
    top:85%;
    left:30%;
}

.skip {
  background-color: transparent;
  display: block;
  position:relative;
  left:4%;
  color:black;
  width: 200px;
  letter-spacing:2px;
}

.button:hover {
    background: black;
}

.skip:hover{
  background: transparent;
}

.audio {
  display: none;
}

#copyright {
  font-size:0.8vw;
  letter-spacing:0.1em;
  top: 122%;
  right:0;
  font-family:"PT Sans Narrow";
  position: absolute;
  text-decoration:none;
  font-weight: bold;
}

a:link{
  text-decoration:none;
  font-weight: bold;
  color:#f2570e;
}

a:visited{
  color:#CC6600;
}



